@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Thibetanus.Areas.Identity.Models
@using Microsoft.AspNetCore.Identity
@using Thibetanus.Areas.Identity
@model LoginViewModel
@inject MyUserManager UserManager
@inject MySignInManager SignInManager

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>

                </div>
                @Html.AntiForgeryToken()
            </form>

        </section>
    </div>

</div>